{% extends 'base.html' %}

{% block content %}
<style>
  .card-img-top{
    height: 60vh;
  }
</style>
<div class="container">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Boards</li>
  </ol>

  <div class="row">
    {% for board in board %}
    <div class="card m-2" style="width: 34rem;">
      <img class="card-img-top" src="{{board.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <a href="{% url 'topics' board.id %}">{{ board.name }}</a></h5>
        <p class="card-text">{{ board.description }}</p>
        <div class="row">
          <div class="col-md-6">
            <p class="card-text"><b>Post:</b>{{ board.get_posts_count }}</p>
          </div>
          <div class="col-md-6">
            <p class="card-text"><b>Topic:</b>{{ board.topics.count }} </p>
          </div>
        </div>
        {% with post=board.get_last_post %}
        {% if post %}
        <small>
          <a href="{% url 'topic_detail' post.topic.id %}">
            Last Post created at {{ post.created_at }}
          </a>
        </small>
        {% else %}
        <small class="text-muted">
          <em>No posts yet.</em>
        </small>
        {% endif %}
        {% endwith %}
      </div>
    </div>



    {% endfor %}
  </div>





</div>
{% endblock %}