{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}

<div class="container">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
        <li class="breadcrumb-item active">My account</li>
    </ol>
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="card p-5" style="background-color: #FCEDF4;">
                    <div class="row justify-content-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}"
                                width="100%">
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="media-body">
                                <div class="account-heading">
                                    <p><b>Name:</b> {{ user.username }}</p>
                                    <p><b>Email:</b> {{user.email}}</p>
                                    <a class="btn btn-sm bg-warning mr-3" data-toggle="modal"
                                        data-target=".bd-example-modal-md "><strong>Update Profile</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ prof_form|crispy}}
                        <button type="submit" class="btn bg-warning btn-sm"> Update Profile</button>
                        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% if topics %}
    {% for topic in topics %}
    <div class="card mb-2">
        <div class="card-header text-white bg-dark py-2 px-3">{{ topic.subject }}</div>
        <div class="card-body">{{topic.message}}</div>
        <div class="card-body p-3">
            <div class="row">
                <div class="col-2">
                    <img src="" alt="{{ post.created_by.username }}" class="w-100">
                    <small>Posts: {{ topic.author.topics.count }}</small>
                </div>
                <div class="col-10">
                    <div class="row mb-3">
                        <div class="col-6 text-right">
                            <small class="text-muted">{{ topic.created_at }}</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'update_topic' topic.id %}" class="btn btn-success btn-sm"
                            role="button">Edit</a>
                        <a href="{% url 'delete_topic' topic.id %}" class="btn btn-danger btn-sm"
                            role="button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <p class="m-3 text-center">No post yet!!!</p>
    </div>
    {% endif %}
</div>

{% endblock %}